<form id="inputform">
  <label for="decimal_input">Decimal:</label>
  <input type="text" id="decimal_input" name="decimal"><br><br>
  <label for="exponent_input">Exponent:</label>
  <input type="text" id="exponent_input" name="exponent"><br><br>

  <label for="round_label">Round Off Method</label><br>
  <input type="radio" id="round_method1" name="rnd_mthd" value="truncate">
  <label for="round_method1">Truncation</label><br>
  <input type="radio" id="round_method2" name="rnd_mthd" value="down">
  <label for="round_method2">Round Up</label><br>
  <input type="radio" id="round_method3" name="rnd_mthd" value="up">
  <label for="round_method3">Round Down</label><br>
  <input type="radio" id="round_method4" name="rnd_mthd" value="nearest">
  <label for="round_method4">Round to Nearest, Ties away from Zero</label><br>
  <input type="radio" id="round_method5" name="rnd_mthd" value="nearest" checked>
  <label for="round_method5">Round to Nearest, Ties to Even</label><br>

  <input type="submit" value="Submit">
</form>

<h2 id="output">{{output}}</h2>

<script src="static/js/form.js"></script>